[Unit]
Description=Kill unexpected network connections

[Service]
ExecStart=/root/scripts-2026/monitoring/killpid.sh
Restart=always
RestartSec=1m
StartLimitBurst=20
StartLimitIntervalSec=600

[Install]
WantedBy=multi-user.target
